.cont__usuario{
    display: flex;
    justify-content: center;
    align-items: center;
}


.formulario__crear{
    width: 40%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.input__crear{
    height: 45px;
    margin-bottom: 35px;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 1rem;
    width: 80%;
}

label{
    font-size: 20px;
    margin-bottom: 5px;
    align-self: flex-start;
    margin-left: 47px;
}

option{
    height: 45px;
}


.btn__Formcrear{
    height: 45px;
    border: none;
    background: dodgerblue;
    color:white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;

}